.users {
  grid-row: span 3;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.users__form {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.form__input {
  flex-grow: 1;
  margin-right: 5px;
  padding: 10px;
  border: 2px solid rgba(0, 153, 125, 0.7);
  border-radius: 5px;
}

.form__input:hover {
  background-color: #e6e6e685;
}

.form__input:focus-visible {
  outline: none;
  box-shadow: inset 0 0 3px 0 rgba(0, 153, 125, 0.9);
}

.form__button {
  padding: 5px 10px;
  color: white;
  background-color: rgba(0, 153, 125, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form__button:hover {
  background-color: rgba(0, 153, 125, 0.9);
}

.users__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.users__button {
  align-self: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: rgba(0, 153, 125, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.users__button:hover {
  background-color: rgba(0, 153, 125, 0.9);
}
