.newPost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: auto;
  padding: 5px 10px;
  color: white;
  background-color: rgba(0, 153, 125, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 153, 125, 0.9);
}

.posts {
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 10px;
}