.navigation {
  display: block;
  background-color: rgba(0, 153, 125, 0.7);
  border-radius: 10px;
  padding: 20px;
  align-self: start;
}

.navigation__list {
  padding: 0;
  margin: 0;
}

.navigation__item {
  font-size: 20px;
  list-style-type: none;
}

.navigation__link {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.navigation__link:hover {
  border-radius: 5px;
  background-color:rgba(0, 153, 125, 0.7);
}

.active {
  color: #00669a;
}