.dialogs__item {
  display: flex;
  padding: 5px 0;
  align-items: center;
  border-top: 1px solid rgba(0, 153, 125, 0.7);
}

.dialogs__item:hover {
  background-color: white;
}

.dialogs__item:last-child {
  border-bottom: 1px solid rgba(0, 153, 125, 0.7);
}

.dialogs__avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.dialogs__link {
  flex-grow: 1;
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: black;
}
