.dialogs {
  grid-row: span 3;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 4px solid rgba(0, 153, 125, 0.7);
  border-radius: 10px;
  background-color: rgba(229, 229, 229, 0.3);
}

.dialogs__list {
  padding: 5px 0;
  margin: 0;
  border-right: 4px solid rgba(0, 153, 125, 0.7);
}

.dialogs__content {
  padding: 10px;
  margin: 0;
}

.dialogs__messageList {
  padding: 5px;
  border: 2px solid rgba(0, 153, 125, 0.7);
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}

.dialogs__newMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialogs__newMessageText {
  display: block;
  appearance: none;
  height: auto;
  border: 2px solid rgba(0, 153, 125, 0.7);
  border-radius: 5px;
  padding: 3px 10px;
  box-sizing: border-box;
  resize: none;
  flex-grow: 1;
  margin-right: 10px;
}

.dialogs__newMessageText:focus-visible {
  outline: none;
  box-shadow: inset 0 0 2px 0 rgba(0, 153, 125, 0.9);
}

.dialogs__sendButton {
  padding: 5px 10px;
  color: white;
  background-color: rgba(0, 153, 125, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dialogs__sendButton:hover {
  background-color: rgba(0, 153, 125, 0.9);
}